# Cleaning/Exploring Animal Outcome Data

### Imports

In [3]:
import pandas as pd
import re
import numpy as np
from collections import Counter
import data_cleaning as dc
from sqlalchemy import create_engine

#### Load /explore file

In [4]:
outcomes_path = '/Users/murdock/Downloads/Austin_Animal_Center_Outcomes.csv'

animal_outcomes_df = pd.read_csv(outcomes_path)

In [49]:
animal_outcomes_df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
1,A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
2,A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray
3,A746650,Rose,04/07/2017 11:58:00 AM,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,1 year,Labrador Retriever/Jack Russell Terrier,Yellow
4,A750122,Happy Camper,05/24/2017 06:36:00 PM,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1 month,Labrador Retriever Mix,Black

In [51]:
animal_outcomes_df[animal_outcomes_df['Animal ID'] == 'A677918']

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
688,A677918,Buddy,02/04/2015 05:20:00 PM,02/04/2015 05:20:00 PM,03/26/2008,Return to Owner,NaN,Dog,Neutered Male,6 years,Pit Bull Mix,White/Chocolate
1346,A677918,Buddy,03/29/2015 04:56:00 PM,03/29/2015 04:56:00 PM,03/26/2008,Euthanasia,Aggressive,Dog,Neutered Male,7 years,Pit Bull Mix,White/Chocolate
55338,A677918,Buddy,05/01/2014 04:56:00 PM,05/01/2014 04:56:00 PM,03/26/2008,Return to Owner,NaN,Dog,Neutered Male,6 years,Pit Bull Mix,White/Chocolate

In [3]:
animal_outcomes_df = animal_outcomes_df[animal_outcomes_df['Animal Type'] == 'Dog']

In [4]:
animal_outcomes_df['DateTime'] = pd.to_datetime(animal_outcomes_df['DateTime'], format='%m/%d/%Y %H:%M:%S %p')

In [5]:
animal_outcomes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41387 entries, 1 to 73537
Data columns (total 12 columns):
Animal ID           41387 non-null object
Name                34842 non-null object
DateTime            41387 non-null datetime64[ns]
MonthYear           41387 non-null object
Date of Birth       41387 non-null object
Outcome Type        41386 non-null object
Outcome Subtype     12842 non-null object
Animal Type         41387 non-null object
Sex upon Outcome    41385 non-null object
Age upon Outcome    41386 non-null object
Breed               41387 non-null object
Color               41387 non-null object
dtypes: datetime64[ns](1), object(11)
memory usage: 4.1+ MB

In [6]:
animal_outcomes_df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
1,A658751,Benji,2016-11-13 01:38:00,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
3,A746650,Rose,2017-04-07 11:58:00,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,1 year,Labrador Retriever/Jack Russell Terrier,Yellow
4,A750122,Happy Camper,2017-05-24 06:36:00,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1 month,Labrador Retriever Mix,Black
7,A666430,Lucy,2013-11-07 11:47:00,11/07/2013 11:47:00 AM,11/06/2012,Transfer,Partner,Dog,Spayed Female,1 year,Beagle Mix,White/Brown
8,A675708,*Johnny,2014-06-03 02:20:00,06/03/2014 02:20:00 PM,03/31/2013,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull,Blue/White

### Convert column names

In [7]:
animal_outcomes_df.columns = ['animalid', 'name', 'datetime', 'monthyear', 'dateofbirth', 'outcometype', 'outcomesubtype', 'animaltype', 'sexuponoutcome', 'ageuponoutcome', 'breed', 'color']

In [8]:
animal_outcomes_df.head()

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,breed,color
1,A658751,Benji,2016-11-13 01:38:00,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
3,A746650,Rose,2017-04-07 11:58:00,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,1 year,Labrador Retriever/Jack Russell Terrier,Yellow
4,A750122,Happy Camper,2017-05-24 06:36:00,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1 month,Labrador Retriever Mix,Black
7,A666430,Lucy,2013-11-07 11:47:00,11/07/2013 11:47:00 AM,11/06/2012,Transfer,Partner,Dog,Spayed Female,1 year,Beagle Mix,White/Brown
8,A675708,*Johnny,2014-06-03 02:20:00,06/03/2014 02:20:00 PM,03/31/2013,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull,Blue/White

### Remove any rows that have NaN values in important columns

In [9]:
animal_outcomes_df = animal_outcomes_df.dropna(subset=['outcometype'])
animal_outcomes_df = animal_outcomes_df.dropna(subset=['sexuponoutcome'])
animal_outcomes_df = animal_outcomes_df.dropna(subset=['ageuponoutcome'])
animal_outcomes_df = animal_outcomes_df.dropna(subset=['breed'])
animal_outcomes_df = animal_outcomes_df.dropna(subset=['color'])
animal_outcomes_df = animal_outcomes_df.dropna(subset=['datetime'])
animal_outcomes_df = animal_outcomes_df.reset_index(drop=True)

In [10]:
animal_outcomes_df.tail() # 41386, 9336 if drop all na, 41385 w/ outcome type

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,breed,color
41380,A759829,Drew,2017-10-08 09:36:00,10/08/2017 09:36:00 AM,10/08/2010,Return to Owner,NaN,Dog,Neutered Male,7 years,Rat Terrier Mix,White/Black
41381,A757837,402,2017-10-09 07:37:00,10/09/2017 07:37:00 PM,07/06/2017,Transfer,Partner,Dog,Unknown,3 months,Labrador Retriever Mix,Blue Merle
41382,A757645,141,2017-10-09 07:35:00,10/09/2017 07:35:00 PM,09/04/2016,Transfer,Partner,Dog,Intact Male,1 year,Labrador Retriever Mix,Black/Brown
41383,A757835,400,2017-10-09 07:37:00,10/09/2017 07:37:00 PM,07/06/2017,Transfer,Partner,Dog,Unknown,3 months,Labrador Retriever Mix,Black
41384,A665334,Mcruber,2017-10-08 01:42:00,10/08/2017 01:42:00 PM,10/16/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Pit Bull Mix,Blue/White

### Convert ages to # months

In [11]:
animal_outcomes_df['ageuponoutcome'] = animal_outcomes_df['ageuponoutcome'].apply(dc.convert_ages)

### Group colors to get less unique options

In [12]:
animal_outcomes_df['color'] = animal_outcomes_df['color'].apply(dc.group_colors)

In [13]:
count = Counter(animal_outcomes_df['color'].values)

In [14]:
count

Counter({'Agouti': 4,
         'Apricot': 50,
         'Black': 2365,
         'Blue': 241,
         'Blue Merle': 3,
         'Brindle': 2797,
         'Brown': 1701,
         'Brown Brindle': 1,
         'Buff': 354,
         'Chocolate': 376,
         'Cream': 369,
         'Fawn': 172,
         'Gold': 119,
         'Gray': 144,
         'Liver': 2,
         'Merle': 715,
         'Orange': 1,
         'Red': 855,
         'Sable': 432,
         'Silver': 29,
         'Tan': 1839,
         'Tick': 284,
         'Tricolor': 1861,
         'Twocolor': 23981,
         'White': 2203,
         'Yellow': 487})

In [15]:
animal_outcomes_df.head()

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,breed,color
0,A658751,Benji,2016-11-13 01:38:00,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,60.0,Border Terrier Mix,Tan
1,A746650,Rose,2017-04-07 11:58:00,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,12.0,Labrador Retriever/Jack Russell Terrier,Yellow
2,A750122,Happy Camper,2017-05-24 06:36:00,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1.0,Labrador Retriever Mix,Black
3,A666430,Lucy,2013-11-07 11:47:00,11/07/2013 11:47:00 AM,11/06/2012,Transfer,Partner,Dog,Spayed Female,12.0,Beagle Mix,Twocolor
4,A675708,*Johnny,2014-06-03 02:20:00,06/03/2014 02:20:00 PM,03/31/2013,Adoption,NaN,Dog,Neutered Male,12.0,Pit Bull,Twocolor

### Start looking at breeds

In [16]:
len(animal_outcomes_df['breed'].unique())

# A lot of unique breeds!!

1848

#### Make sure mixed breeds are not just repetitions of other entries but backwards (hound/shepherd vs shepherd/hound)

In [17]:
dog_mixes = animal_outcomes_df[animal_outcomes_df['breed'].str.contains('/')]
mixes = [sorted(x.split('/')) for x in dog_mixes['breed'].values]
def fix_breeds(breed):
    """
    Makes sure breed names are unique and not in a reversed order.
    
    INPUT:
    breed - an entry from the dataframe's breed column
    OUTPUT:
    a breed entry
    """
    breed_split = sorted(breed.split('/'))
    if breed_split in mixes:
        return '/'.join(breed_split)
    else:
        return breed

In [18]:
animal_outcomes_df['breed'] = animal_outcomes_df['breed'].apply(fix_breeds)

### Now lets pickle and make dataframes with different breed combinations for modeling

In [19]:
path = '/Users/murdock/Documents/metis/project3/outcome_data.pkl'
animal_outcomes_df.to_pickle(path)

### What about doing pit bulls vs not pit bull?

In [20]:
pits = []
for breed in animal_outcomes_df['breed']:
    if 'bull' in breed.lower():
        pits.append(breed)
len(pits), len(animal_outcomes_df['breed'])

# lot of pit bulls!!

(7635, 41385)

In [21]:
pitbull_df = animal_outcomes_df.copy()
pitbull_df.head()

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,breed,color
0,A658751,Benji,2016-11-13 01:38:00,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,60.0,Border Terrier Mix,Tan
1,A746650,Rose,2017-04-07 11:58:00,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,12.0,Jack Russell Terrier/Labrador Retriever,Yellow
2,A750122,Happy Camper,2017-05-24 06:36:00,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1.0,Labrador Retriever Mix,Black
3,A666430,Lucy,2013-11-07 11:47:00,11/07/2013 11:47:00 AM,11/06/2012,Transfer,Partner,Dog,Spayed Female,12.0,Beagle Mix,Twocolor
4,A675708,*Johnny,2014-06-03 02:20:00,06/03/2014 02:20:00 PM,03/31/2013,Adoption,NaN,Dog,Neutered Male,12.0,Pit Bull,Twocolor

#### Apply function to rename breeds as pitbull or not

In [22]:
pitbull_df['breed'] = pitbull_df['breed'].apply(dc.pit_bull_separation)

In [23]:
pitbull_df.head()

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,breed,color
0,A658751,Benji,2016-11-13 01:38:00,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,60.0,Not Pit Bull,Tan
1,A746650,Rose,2017-04-07 11:58:00,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,12.0,Not Pit Bull,Yellow
2,A750122,Happy Camper,2017-05-24 06:36:00,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1.0,Not Pit Bull,Black
3,A666430,Lucy,2013-11-07 11:47:00,11/07/2013 11:47:00 AM,11/06/2012,Transfer,Partner,Dog,Spayed Female,12.0,Not Pit Bull,Twocolor
4,A675708,*Johnny,2014-06-03 02:20:00,06/03/2014 02:20:00 PM,03/31/2013,Adoption,NaN,Dog,Neutered Male,12.0,Pit Bull,Twocolor

In [24]:
pitbull_path = '/Users/murdock/Documents/metis/project3/outcome_pitbull.pkl'
pitbull_df.to_pickle(pitbull_path)

### What if we do purebreds vs mixed breeds?

In [25]:
pure_vs_mix_df = animal_outcomes_df.copy()

#### Apply function to relabel breeds

In [26]:
pure_vs_mix_df['breed'] = pure_vs_mix_df['breed'].apply(dc.pure_vs_mix)

In [27]:
pure_vs_mix_df.head()

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,breed,color
0,A658751,Benji,2016-11-13 01:38:00,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,60.0,Mixed Breed,Tan
1,A746650,Rose,2017-04-07 11:58:00,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,12.0,Mixed Breed,Yellow
2,A750122,Happy Camper,2017-05-24 06:36:00,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1.0,Mixed Breed,Black
3,A666430,Lucy,2013-11-07 11:47:00,11/07/2013 11:47:00 AM,11/06/2012,Transfer,Partner,Dog,Spayed Female,12.0,Mixed Breed,Twocolor
4,A675708,*Johnny,2014-06-03 02:20:00,06/03/2014 02:20:00 PM,03/31/2013,Adoption,NaN,Dog,Neutered Male,12.0,Purebred,Twocolor

In [28]:
pure_vs_mix_path = '/Users/murdock/Documents/metis/project3/outcome_pure_vs_mix.pkl'
pure_vs_mix_df.to_pickle(pure_vs_mix_path)

### What if we separate out the mixed and purebreds that occur less than 50 times?

In [29]:
low_occurrences_df = animal_outcomes_df.copy()

In [30]:
breed_mixtures = animal_outcomes_df[animal_outcomes_df['breed'].str.contains('/')].groupby('breed').count().sort_values('animalid', ascending=False)
breed_mixtures.head(10)

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,color
breed,,,,,,,,,,,
Chihuahua Shorthair/Dachshund,408,319,408,408,408,408,124,408,408,408,408
Labrador Retriever/Pit Bull,295,258,295,295,295,295,99,295,295,295,295
German Shepherd/Labrador Retriever,285,233,285,285,285,285,80,285,285,285,285
Border Collie/Labrador Retriever,148,123,148,148,148,148,49,148,148,148,148
Australian Cattle Dog/Labrador Retriever,121,104,121,121,121,121,33,121,121,121,121
Chihuahua Shorthair/Rat Terrier,106,90,106,106,106,106,32,106,106,106,106
Miniature Poodle/Miniature Schnauzer,102,82,102,102,102,102,33,102,102,102,102
Chihuahua Shorthair/Jack Russell Terrier,96,78,96,96,96,96,35,96,96,96,96
Boxer/Pit Bull,91,84,91,91,91,91,27,91,91,91,91
Boxer/Labrador Retriever,85,75,85,85,85,85,20,85,85,85,85

In [31]:
breed_counts = animal_outcomes_df.groupby('breed').count().sort_values('animalid', ascending=False)
breed_counts.tail()

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,color
breed,,,,,,,,,,,
Golden Retriever/Miniature Poodle,1,1,1,1,1,1,0,1,1,1,1
Golden Retriever/Nova Scotia Duck Tolling Retriever,1,1,1,1,1,1,1,1,1,1,1
Bouv Flandres/Otterhound,1,1,1,1,1,1,0,1,1,1,1
Golden Retriever/Pit Bull,1,1,1,1,1,1,0,1,1,1,1
Yorkshire Terrier/Yorkshire Terrier,1,1,1,1,1,1,0,1,1,1,1

In [32]:
low_quantity_counts = breed_counts[breed_counts['animalid'] < 50]
low_quantity = list(low_quantity_counts.index)
def merge_low_quantities(breed):
    """
    Relabels breeds identified as occurring in low quantities
    
    INPUT:
    breed - an entry from the dataframe's breed column
    OUTPUT:
    a breed entry depending on the occurrence of the breed
    """
    if breed in low_quantity:
        if '/' in breed:
            return 'Other Mixed Breed'
        elif 'Mix' in breed:
            return 'Other Mixed Breed'
        else:
            return 'Other Purebred'
    else:
        return breed

In [33]:
low_occurrences_df['breed'] = low_occurrences_df['breed'].apply(merge_low_quantities)

In [34]:
low_occurrences_df.head()

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,breed,color
0,A658751,Benji,2016-11-13 01:38:00,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,60.0,Border Terrier Mix,Tan
1,A746650,Rose,2017-04-07 11:58:00,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,12.0,Other Mixed Breed,Yellow
2,A750122,Happy Camper,2017-05-24 06:36:00,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1.0,Labrador Retriever Mix,Black
3,A666430,Lucy,2013-11-07 11:47:00,11/07/2013 11:47:00 AM,11/06/2012,Transfer,Partner,Dog,Spayed Female,12.0,Beagle Mix,Twocolor
4,A675708,*Johnny,2014-06-03 02:20:00,06/03/2014 02:20:00 PM,03/31/2013,Adoption,NaN,Dog,Neutered Male,12.0,Pit Bull,Twocolor

In [35]:
low_occurrences_df.groupby('breed').count().sort_values('animalid', ascending=False)

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,color
breed,,,,,,,,,,,
Other Mixed Breed,6454,5493,6454,6454,6454,6454,1854,6454,6454,6454,6454
Pit Bull Mix,5704,5141,5704,5704,5704,5704,1850,5704,5704,5704,5704
Chihuahua Shorthair Mix,4449,3555,4449,4449,4449,4449,1571,4449,4449,4449,4449
Labrador Retriever Mix,4252,3437,4252,4252,4252,4252,1349,4252,4252,4252,4252
German Shepherd Mix,1761,1502,1761,1761,1761,1761,483,1761,1761,1761,1761
Other Purebred,1322,1168,1322,1322,1322,1322,427,1322,1322,1322,1322
Australian Cattle Dog Mix,988,818,988,988,988,988,311,988,988,988,988
Dachshund Mix,765,582,765,765,765,765,246,765,765,765,765
Boxer Mix,641,557,641,641,641,641,197,641,641,641,641
Miniature Poodle Mix,611,480,611,611,611,611,157,611,611,611,611
Border Collie Mix,594,506,594,594,594,594,170,594,594,594,594
Catahoula Mix,437,383,437,437,437,437,134,437,437,437,437
Rat Terrier Mix,429,360,429,429,429,429,136,429,429,429,429
Australian Shepherd Mix,424,354,424,424,424,424,129,424,424,424,424
Chihuahua Shorthair/Dachshund,408,319,408,408,408,408,124,408,408,408,408
Yorkshire Terrier Mix,396,294,396,396,396,396,119,396,396,396,396
Siberian Husky Mix,390,343,390,390,390,390,76,390,390,390,390
Jack Russell Terrier Mix,387,303,387,387,387,387,123,387,387,387,387
Miniature Schnauzer Mix,366,272,366,366,366,366,100,366,366,366,366
Beagle Mix,360,292,360,360,360,360,121,360,360,360,360
Chihuahua Longhair Mix,322,248,322,322,322,322,97,322,322,322,322
Pointer Mix,312,256,312,312,312,312,91,312,312,312,312
Great Pyrenees Mix,310,241,310,310,310,310,115,310,310,310,310
Staffordshire Mix,303,293,303,303,303,303,61,303,303,303,303
Cairn Terrier Mix,303,214,303,303,303,303,83,303,303,303,303
Rottweiler Mix,298,271,298,298,298,298,78,298,298,298,298
Labrador Retriever/Pit Bull,295,258,295,295,295,295,99,295,295,295,295
American Bulldog Mix,295,275,295,295,295,295,94,295,295,295,295
German Shepherd/Labrador Retriever,285,233,285,285,285,285,80,285,285,285,285
Shih Tzu Mix,261,203,261,261,261,261,140,261,261,261,261
...,...,...,...,...,...,...,...,...,...,...,...
Boxer/Labrador Retriever,85,75,85,85,85,85,20,85,85,85,85
Boxer,83,75,83,83,83,83,22,83,83,83,83
Chinese Sharpei Mix,82,72,82,82,82,82,30,82,82,82,82
Chihuahua Shorthair/Pug,82,74,82,82,82,82,26,82,82,82,82
Mastiff Mix,82,73,82,82,82,82,24,82,82,82,82
Dachshund Wirehair Mix,80,64,80,80,80,80,22,80,80,80,80
Collie Smooth Mix,78,68,78,78,78,78,33,78,78,78,78
Australian Cattle Dog,78,68,78,78,78,78,19,78,78,78,78
Bull Terrier Mix,75,68,75,75,75,75,25,75,75,75,75
Great Pyrenees/Labrador Retriever,74,60,74,74,74,74,18,74,74,74,74
Rhod Ridgeback Mix,73,70,73,73,73,73,11,73,73,73,73
Flat Coat Retriever Mix,73,63,73,73,73,73,27,73,73,73,73
Great Dane Mix,72,64,72,72,72,72,21,72,72,72,72
Labrador Retriever/Pointer,71,63,71,71,71,71,20,71,71,71,71
Maltese/Miniature Poodle,70,58,70,70,70,70,19,70,70,70,70
Carolina Dog Mix,69,59,69,69,69,69,25,69,69,69,69
Pekingese Mix,68,52,68,68,68,68,28,68,68,68,68
Beagle,68,63,68,68,68,68,16,68,68,68,68
English Bulldog Mix,67,55,67,67,67,67,17,67,67,67,67
Black/Tan Hound Mix,64,53,64,64,64,64,13,64,64,64,64
Redbone Hound Mix,63,53,63,63,63,63,9,63,63,63,63
Australian Shepherd/Labrador Retriever,57,54,57,57,57,57,30,57,57,57,57
Beagle/Labrador Retriever,57,53,57,57,57,57,9,57,57,57,57
Norfolk Terrier Mix,55,41,55,55,55,55,9,55,55,55,55
Labrador Retriever/Rottweiler,53,47,53,53,53,53,15,53,53,53,53
Chow Chow/Labrador Retriever,53,46,53,53,53,53,18,53,53,53,53
Miniature Poodle,51,45,51,51,51,51,17,51,51,51,51
Miniature Schnauzer,50,44,50,50,50,50,14,50,50,50,50
Harrier Mix,50,48,50,50,50,50,12,50,50,50,50
Cardigan Welsh Corgi/Chihuahua Shorthair,50,38,50,50,50,50,17,50,50,50,50

### PICKLE DATAFRAME

In [36]:
low_occurrences_path = '/Users/murdock/Documents/metis/project3/outcome_low_occurrences.pkl'
low_occurrences_df.to_pickle(low_occurrences_path)

In [44]:
animal_outcomes_df[animal_outcomes_df['animalid'] == 'A701901']

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,breed,color
444,A701901,Sasha,2015-12-12 04:14:00,12/12/2015 04:14:00 PM,05/06/2014,Return to Owner,NaN,Dog,Spayed Female,12.0,Pit Bull Mix,Blue
744,A701901,Sasha,2016-04-02 04:45:00,04/02/2016 04:45:00 PM,05/06/2014,Transfer,Partner,Dog,Spayed Female,12.0,Pit Bull Mix,Blue
1128,A701901,Sasha,2015-05-20 06:58:00,05/20/2015 06:58:00 PM,05/06/2014,Return to Owner,NaN,Dog,Spayed Female,12.0,Pit Bull Mix,Blue
1677,A701901,Sasha,2015-09-16 12:20:00,09/16/2015 12:20:00 PM,05/06/2014,Missing,Possible Theft,Dog,Spayed Female,12.0,Pit Bull Mix,Blue
12087,A701901,Sasha,2017-05-14 12:25:00,05/14/2017 12:25:00 PM,05/06/2014,Return to Owner,NaN,Dog,Spayed Female,36.0,Pit Bull Mix,Blue
29462,A701901,Sasha,2015-05-15 07:09:00,05/15/2015 07:09:00 PM,05/06/2014,Return to Owner,NaN,Dog,Spayed Female,12.0,Pit Bull Mix,Blue
31402,A701901,Sasha,2015-11-30 05:12:00,11/30/2015 05:12:00 PM,05/06/2014,Return to Owner,NaN,Dog,Spayed Female,12.0,Pit Bull Mix,Blue

### Upload dataframes to psql

In [38]:
engine_name = 'postgresql:/credentials/project3'
cnx = create_engine(engine_name)

In [39]:
animal_outcomes_df.to_sql("animal_outcomes", cnx)
low_occurrences_df.to_sql("lowoccur_outcomes", cnx)
pure_vs_mix_df.to_sql("purevsmix_outcomes", cnx)
pitbull_df.to_sql("pitbull_outcomes", cnx)

In [40]:
animal_outcomes_df['outcometype'].unique()

array(['Return to Owner', 'Transfer', 'Adoption', 'Euthanasia', 'Disposal',
       'Rto-Adopt', 'Died', 'Missing'], dtype=object)

In [47]:
animal_outcomes_df[animal_outcomes_df['animalid'].duplicated()]

,animalid,name,datetime,monthyear,dateofbirth,outcometype,outcomesubtype,animaltype,sexuponoutcome,ageuponoutcome,breed,color
744,A701901,Sasha,2016-04-02 04:45:00,04/02/2016 04:45:00 PM,05/06/2014,Transfer,Partner,Dog,Spayed Female,12.0,Pit Bull Mix,Blue
780,A677918,Buddy,2015-03-29 04:56:00,03/29/2015 04:56:00 PM,03/26/2008,Euthanasia,Aggressive,Dog,Neutered Male,84.0,Pit Bull Mix,Twocolor
986,A622128,Ginger,2014-01-19 02:43:00,01/19/2014 02:43:00 PM,02/09/2012,Adoption,NaN,Dog,Spayed Female,12.0,Boxer Mix,Brindle
1016,A686467,Duke,2014-11-22 07:37:00,11/22/2014 07:37:00 PM,08/22/2010,Adoption,NaN,Dog,Neutered Male,48.0,Catahoula Mix,Twocolor
1128,A701901,Sasha,2015-05-20 06:58:00,05/20/2015 06:58:00 PM,05/06/2014,Return to Owner,NaN,Dog,Spayed Female,12.0,Pit Bull Mix,Blue
1158,A710383,Pepper,2016-07-03 03:40:00,07/03/2016 03:40:00 PM,08/22/2013,Adoption,NaN,Dog,Spayed Female,24.0,Rat Terrier Mix,Twocolor
1173,A676817,Flecha,2014-11-18 05:51:00,11/18/2014 05:51:00 PM,04/15/2012,Return to Owner,NaN,Dog,Neutered Male,24.0,Pit Bull Mix,Twocolor
1216,A720298,Bully,2017-01-09 01:16:00,01/09/2017 01:16:00 PM,11/06/2015,Transfer,Partner,Dog,Neutered Male,12.0,Pit Bull Mix,Twocolor
1243,A696932,Coach,2015-03-08 05:33:00,03/08/2015 05:33:00 PM,07/14/2014,Adoption,NaN,Dog,Spayed Female,7.0,Border Collie Mix,Twocolor
1248,A707116,Heidi,2015-08-08 06:54:00,08/08/2015 06:54:00 PM,07/08/2014,Adoption,NaN,Dog,Spayed Female,12.0,Chinese Sharpei/Labrador Retriever,Twocolor
1280,A733097,Rylie,2017-05-18 11:49:00,05/18/2017 11:49:00 AM,08/17/2014,Transfer,Partner,Dog,Spayed Female,24.0,Pit Bull Mix,Twocolor
1422,A632028,Daisy,2015-11-25 11:53:00,11/25/2015 11:53:00 AM,07/11/2010,Adoption,NaN,Dog,Spayed Female,60.0,Great Pyrenees Mix,White
1438,A666752,Floyd,2015-01-25 11:58:00,01/25/2015 11:58:00 AM,11/06/2012,Adoption,NaN,Dog,Neutered Male,24.0,Australian Kelpie/Whippet,Brindle
1439,A674985,Yankee,2014-03-21 01:07:00,03/21/2014 01:07:00 PM,03/21/2008,Return to Owner,NaN,Dog,Neutered Male,72.0,Anatol Shepherd Mix,Cream
1543,A716658,*Teddy,2015-11-28 05:24:00,11/28/2015 05:24:00 PM,07/23/2015,Adoption,NaN,Dog,Neutered Male,4.0,Border Collie Mix,Twocolor
1606,A707116,Heidi,2015-09-29 02:41:00,09/29/2015 02:41:00 PM,07/08/2014,Transfer,Partner,Dog,Spayed Female,12.0,Chinese Sharpei/Labrador Retriever,Twocolor
1616,A735302,Louie,2016-11-26 03:23:00,11/26/2016 03:23:00 PM,09/22/2013,Return to Owner,NaN,Dog,Neutered Male,36.0,Pit Bull Mix,Twocolor
1677,A701901,Sasha,2015-09-16 12:20:00,09/16/2015 12:20:00 PM,05/06/2014,Missing,Possible Theft,Dog,Spayed Female,12.0,Pit Bull Mix,Blue
1728,A733492,Grace,2017-02-09 05:30:00,02/09/2017 05:30:00 PM,01/30/2016,Adoption,NaN,Dog,Spayed Female,12.0,Pit Bull Mix,Twocolor
1746,A692835,Dana,2015-05-05 07:21:00,05/05/2015 07:21:00 PM,11/26/2012,Adoption,NaN,Dog,Spayed Female,24.0,Beagle Mix,Brindle
1823,A628369,Lucky,2015-01-11 06:42:00,01/11/2015 06:42:00 PM,05/27/2004,Adoption,NaN,Dog,Neutered Male,120.0,Lhasa Apso/Miniature Poodle,Cream
1845,A676345,Parker,2014-08-05 08:12:00,08/05/2014 08:12:00 AM,04/08/2011,Euthanasia,Aggressive,Dog,Neutered Male,36.0,Norfolk Terrier/Yorkshire Terrier,Twocolor
1855,A691436,Roxie,2015-07-21 04:09:00,07/21/2015 04:09:00 PM,11/04/2005,Adoption,NaN,Dog,Spayed Female,108.0,Chihuahua Shorthair Mix,Twocolor
1868,A664369,Max,2014-01-08 07:19:00,01/08/2014 07:19:00 PM,05/27/2013,Return to Owner,NaN,Dog,Neutered Male,7.0,German Shepherd/Labrador Retriever,Black
2067,A682138,Frannie,2014-06-26 11:07:00,06/26/2014 11:07:00 AM,06/24/2011,Return to Owner,NaN,Dog,Spayed Female,36.0,Chihuahua Shorthair Mix,Twocolor
2076,A665383,Indica,2013-10-23 06:22:00,10/23/2013 06:22:00 PM,06/19/2013,Adoption,NaN,Dog,Spayed Female,4.0,German Shepherd Mix,Twocolor
2109,A700396,Calseta,2015-12-20 05:26:00,12/20/2015 05:26:00 PM,04/13/2012,Return to Owner,NaN,Dog,Spayed Female,36.0,Pit Bull Mix,Twocolor
2139,A705625,Jack,2016-05-30 01:23:00,05/30/2016 01:23:00 PM,06/19/2013,Return to Owner,NaN,Dog,Neutered Male,24.0,Pit Bull Mix,Twocolor
2200,A733907,Nugget,2016-09-03 11:18:00,09/03/2016 11:18:00 AM,04/29/2014,Adoption,NaN,Dog,Neutered Male,24.0,Yorkshire Terrier Mix,Twocolor
2225,A681011,Ada,2014-08-05 12:13:00,08/05/2014 12:13:00 PM,06/11/2009,Return to Owner,NaN,Dog,Spayed Female,60.0,Boston Terrier Mix,Brindle
...,...,...,...,...,...,...,...,...,...,...,...,...
41179,A715676,Austin,2017-10-04 04:09:00,10/04/2017 04:09:00 PM,04/08/2015,Return to Owner,NaN,Dog,Neutered Male,24.0,Boxer Mix,Twocolor
41186,A687107,Montopolis,2017-10-04 05:57:00,10/04/2017 05:57:00 PM,12/01/2013,Return to Owner,NaN,Dog,Neutered Male,36.0,Pit Bull/Rhod Ridgeback,Twocolor
41209,A675366,Braker,2017-10-06 11:29:00,10/06/2017 11:29:00 AM,09/26/2012,Return to Owner,NaN,Dog,Neutered Male,60.0,Labrador Retriever Mix,Black
41224,A713635,Lena,2017-10-05 01:20:00,10/05/2017 01:20:00 PM,10/09/2012,Return to Owner,NaN,Dog,Spayed Female,48.0,Great Dane Mix,Brown
41226,A738605,Mack,2017-10-05 02:40:00,10/05/2017 02:40:00 PM,08/19/2010,Return to Owner,NaN,Dog,Neutered Male,84.0,Beagle/Pit Bull,Twocolor
41228,A757919,*Tofu,2017-10-05 03:36:00,10/05/2017 03:36:00 PM,09/08/2015,Adoption,NaN,Dog,Spayed Female,24.0,Beagle Mix,Twocolor
41240,A741060,Versace,2017-10-05 07:24:00,10/05/2017 07:24:00 PM,12/27/2007,Adoption,NaN,Dog,Neutered Male,108.0,Miniature Poodle Mix,White
41242,A703723,Molly,2016-01-21 07:33:00,01/21/2016 07:33:00 PM,05/28/2013,Adoption,NaN,Dog,Spayed Female,24.0,Pit Bull/Pointer,Brindle
41243,A703723,Molly,2015-11-27 02:36:00,11/27/2015 02:36:00 PM,05/28/2013,Adoption,NaN,Dog,Spayed Female,24.0,Pit Bull/Pointer,Brindle
41249,A671076,Bullet,2014-03-14 12:39:00,03/14/2014 12:39:00 PM,07/18/2012,Transfer,Partner,Dog,Neutered Male,12.0,Pit Bull Mix,Twocolor
41252,A739834,*Miguel,2017-10-06 01:07:00,10/06/2017 01:07:00 PM,12/07/2015,Transfer,Partner,Dog,Neutered Male,12.0,Pit Bull Mix,Red
41270,A746463,Spots,2017-10-07 07:16:00,10/07/2017 07:16:00 PM,01/27/2017,Adoption,NaN,Dog,Neutered Male,8.0,Basset Hound Mix,Twocolor
41272,A753618,Freddie,2017-10-07 07:15:00,10/07/2017 07:15:00 PM,07/08/2013,Adoption,NaN,Dog,Neutered Male,48.0,Jack Russell Terrier Mix,Twocolor
41273,A736462,*Maverick,2017-10-06 03:00:00,10/06/2017 03:00:00 PM,10/11/2013,Adoption,Foster,Dog,Neutered Male,36.0,Plott Hound,Brindle
41275,A758127,Bhakti,2017-10-06 04:34:00,10/06/2017 04:34:00 PM,09/11/2015,Adoption,NaN,Dog,Neutered Male,24.0,Chihuahua Shorthair Mix,Twocolor
41282,A619084,Dude,2017-10-06 06:37:00,10/06/2017 06:37:00 PM,09/09/2014,Return to Owner,NaN,Dog,Neutered Male,36.0,Labrador Retriever Mix,Black
41292,A676832,Cookie,2017-10-07 03:41:00,10/07/2017 03:41:00 PM,01/15/2014,Return to Owner,NaN,Dog,Spayed Female,36.0,Chihuahua Shorthair,Brown
41296,A683132,Cielo,2017-10-07 04:47:00,10/07/2017 04:47:00 PM,07/07/2011,Adoption,NaN,Dog,Spayed Female,72.0,Chow Chow,Brown
41305,A694279,Sage,2017-10-07 06:11:00,10/07/2017 06:11:00 PM,09/18/2009,Adoption,NaN,Dog,Spayed Female,96.0,Boxer Mix,Brown
41314,A733408,Earl,2016-10-12 01:27:00,10/12/2016 01:27:00 PM,08/21/2014,Adoption,NaN,Dog,Neutered Male,24.0,Pit Bull Mix,Twocolor
41315,A733408,Earl,2016-10-01 10:53:00,10/01/2016 10:53:00 PM,08/21/2014,Adoption,NaN,Dog,Neutered Male,24.0,Pit Bull Mix,Twocolor
41317,A724592,George,2017-10-08 12:51:00,10/08/2017 12:51:00 PM,01/19/2010,Return to Owner,NaN,Dog,Intact Male,84.0,Pit Bull Mix,Twocolor
41321,A752603,*Liberty,2017-10-08 02:27:00,10/08/2017 02:27:00 PM,12/24/2016,Adoption,NaN,Dog,Spayed Female,9.0,Pit Bull Mix,Twocolor
41322,A677911,Tiny,2017-10-08 12:00:00,10/08/2017 12:00:00 AM,05/01/2013,Transfer,Partner,Dog,Spayed Female,48.0,Pit Bull Mix,Twocolor
41333,A752038,Danger,2017-10-08 06:04:00,10/08/2017 06:04:00 PM,04/17/2017,Adoption,NaN,Dog,Neutered Male,5.0,Chihuahua Shorthair/Dachshund,Twocolor
41334,A732796,Stella,2017-10-08 06:45:00,10/08/2017 06:45:00 PM,08/13/2015,Adoption,NaN,Dog,Spayed Female,24.0,Pit Bull Mix,Blue
41345,A758588,Oso,2017-10-09 02:06:00,10/09/2017 02:06:00 PM,09/18/2013,Adoption,NaN,Dog,Neutered Male,48.0,Rottweiler Mix,Twocolor
41357,A730330,*Saucer,2016-07-25 06:37:00,07/25/2016 06:37:00 PM,07/02/2014,Adoption,NaN,Dog,Spayed Female,24.0,Catahoula Mix,Brown
41363,A730330,*Saucer,2017-05-28 12:08:00,05/28/2017 12:08:00 PM,07/02/2014,Adoption,Foster,Dog,Spayed Female,24.0,Catahoula Mix,Brown
41384,A665334,Mcruber,2017-10-08 01:42:00,10/08/2017 01:42:00 PM,10/16/2011,Return to Owner,NaN,Dog,Neutered Male,60.0,Pit Bull Mix,Twocolor

In [55]:
animal_outcomes_df[animal_outcomes_df['Animal ID'] == 'A552088']

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
5565,A552088,Sasha,04/03/2015 06:28:00 PM,04/03/2015 06:28:00 PM,11/04/2008,Adoption,NaN,Dog,Spayed Female,6 years,Labrador Retriever Mix,Brown
24585,A552088,Sasha,05/12/2016 08:06:00 AM,05/12/2016 08:06:00 AM,11/04/2008,Adoption,Foster,Dog,Spayed Female,7 years,Labrador Retriever Mix,Brown